/* Add your stylesheet here */
a, p, li {
	font-size: 18px;
}


p {
	font-family: "Georgia", Times, serif;
	color: #888888;

}

.navigation li {
	list-style: none;
}

a, h1, h2, h3, h4, h5 {
	font-style: none;
	font-family: "Verdana", sans-serif;
	font-weight: bold;
	color: rgb(176,0,0);
}
