/* Enter your Grid CSS here */
.col {
	display: inline-block;
	float: left;
	margin: 10px;
	height: 60px;
	background: lightblue;
	box-sizing: border-box;
}

.container {
	width: 940px;
	height: 700px;
	background: grey;
	margin: auto;
}

.col-1 {
	width: 58.33px;
}

.col-2 {
	width: 136.66px;
}
.col-3 {
	width: 215px;
}
.col-4 {
	width: 293.333px;
}
.col-5 {
	width: 371.66666px;
}

.col-6 {
	width: 450px;
}

.col-7 {
	width: 528.3333px;
}
.col-8 {
	width: 620px;
}
.col-9 {
	width: 700px;
}

.col-10 {
	width: 780px;
}

.col-11 {
	width: 860px;
}
.col-12 {
	width: 940px;
	margin: 10px 0px;
}


/*Clearfix*/
.group:after {
  content: "";
  display: table;
  clear: both;
}