form {
  
  height: auto;
  max-width: 590px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.form-title {
  height: auto;
  max-width: 100%;
  background:  #9ec45f;
  padding: 20px 7.5%;
  color: rgb(255, 255, 255);
  border-radius: 5px 5px 0px 0px;
}

.form-title h1 {
  margin: auto;
  padding: 0;
  font-weight: lighter;
}

.form-title p {
  margin: auto;
  padding: 0;
  font-weight: lighter;
  font-size: 12px;
}

.form-fields {
  text-align: left;
  width: 85%;
  margin: auto;
  padding: 20px 0;
}

.form-fields label {
	margin-top: 20px;
	font-size: 14px;
}

input, textarea, select, option {
  box-sizing: border-box;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 90%;
}
input, select, option {
  height: 30px;
}

input, textarea {
	color: #f3f3f3;
	font-size: 16px;
	padding: 5px;
	border: 1px solid lightgrey;
}

select {
	height: 40px;
	border-radius: 0px;
	font-size: 16px;
}


style

option {
	line-height: 24px;
}

textarea {
  height: 90px;
  color: #f3f3f3;

}
label {
  display:block;
  
}
button {
  width: 60px;
  height: 30px;
  background: #9ec45f;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 5px;
  
}

@media all and (max-width: 320px) {
	form {
		width: 70%;

	}
}
























