form {
	background: #f7f7f7;
	border: 1px solid lightgrey;
	width: 95%;
	max-width: 400px;
	margin: auto;
	font-size: 16px;
}

.form-title {
	border-bottom: 1px lightgrey solid;
	color: #7c7c7c;
	padding: 1em;
}

.form-title h1, .form-title p {
	margin: 0;
}

.form-title h1 {
	font-size: 1.750em;
}
.form-title p {
	font-size: 1em;
	font-weight: bolder;
}

.form-fields {
	padding: 1em;
}
.indiv-fields {
	margin: 1.2em auto;
}

input, textarea, select, option {
  box-sizing: border-box;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 60%;
  max-width: 290px;
  font-size: 12px;
}

label {
	color: #7c7c7c;
	font-size: 1em;
	min-width: 80px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	margin-right: .625em;
	margin-top: 4px;
}

input {
	height: 30px;
	padding: 5px;
	color: lightgrey;
}

textarea {
	height: 60px;
	color: lightgrey;
	border: 1px lightgrey solid;
}

select {
	height: 30px;
	border-radius: 0px;
	color: grey;
	background: white;
	border: 1px lightgrey solid;
}

button {
	display: block;
	background: #e27578;
	border: none;
	color: white;
	border-radius: 3px;
	padding: 10px 20px;
	margin-left: 96px;
	margin-top: 20px;
}

@media all and (min-width: 500px) {

	.form-fields, .form-title {
		padding: 1em 2em;
	}

	.form-title h1 {
		font-size: 1.5em;
	}

	.form-title p {
		font-size: .75em;
	}
	
	input, textarea, select, option {
	  font-size: .75em;
	}
	
	label {
		font-size: .875em;
	}
}ok ,s o